{% extends 'layouts/base.html' %}
{% block title %}Döşemeler | SADE MERMER {% endblock %}
{% load static %}
{% block content %}
    
    
    <!-- Page Header Start -->
    <header class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">
                {% if selected_category %}
                    {{ selected_category.name }} Döşemeler
                {% else %}
                    Kategoriler
                {% endif %}
            </h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Anasayfa</a></li>
                    <!-- <li class="breadcrumb-item"><a class="text-white" href="">Pages</a></li> -->
                    <li class="breadcrumb-item text-white active" aria-current="page">Kategoriler</li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{selected_category.name}}</li>
                </ol>
            </nav>
        </div>
    </header>
    <!-- Page Header End -->

    {% include 'components/floor_list.html' %}





{% endblock %}
