<div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
    <div class="position-relative h-100">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d444.63342582641326!2d{{longitude}}!3d{{latitude}}!3m2!1i1024!2i768!4f13.1!5e1!3m2!1str!2str!4v1702457329155!5m2!1str!2str" width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.5495468546954!2d{{ longitude }}!3d{{ latitude }}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x44c2e575e54f85bf%3A0x54afb5158a595485!2sBursa!5e0!3m2!1str!2str!4v1675215445475!5m2!1str!2str" width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

