{% load static %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h1 class="display-5 mb-5">Referanslar</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            {% for testimonial in testimonials %}
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light p-2 mx-auto mb-3" src="{{ testimonial.image.url }}" style="width: 90px; height: 90px;">
                <div class="testimonial-text text-center p-4">
                    <p>{{ testimonial.says }}.</p>
                    <h5 class="mb-1">{{ testimonial.fullname }}</h5>
                    <span class="fst-italic">{{ testimonial.jobs }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>