{% extends 'layouts/base.html' %}
{% block title %}Ekibimiz | SADE MERMER {% endblock %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <header class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Ekibimiz</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Anasayfa</a></li>
                    <li class="breadcrumb-item" style="color: white;">Sayfalar</li>
                    <li class="breadcrumb-item text-white active" aria-current="page"><a href="{% url 'ourteam' %}">Ekibimiz</a></li>
                </ol>
            </nav>
        </div>
    </header>
    <!-- Page Header End -->


    <!-- Team Start -->
    {% include 'components/teams.html' %}
    <!-- Team End -->
        
{% endblock %}